{% extends 'base.html' %}

{% block content %}
    {% if request.user.is_authenticated %}
        <div id="logged-user-info">
            <p>You are logged in as {{ request.user }}. If it's not you, <a href="{% url 'logout' %}">logout</a> and login with your credentials.</p>
        </div>
    {% else %}
        <div class="login-register">
            <form method="post">
                {% csrf_token %}
                <div class="form-group">
                    <input type="text" class="form-control" placeholder="Username" name="username" required>
                </div>
                <div class="form-group">
                    <input type="password" class="form-control" placeholder="Password" name="password" required>
                </div>
                <input class="btn btn-primary" type="submit" value="Login">
            </form>

            {% for field, errors in form.errors.items %}
                {% for error in errors %}
                    <p class="form-errors">{{ error }}</p>
                {% endfor %}
            {% endfor %}

            <p class="info">Not registered? Sign up <a href="{% url 'register' %}">here</a>!</p>
            <a href="{% url 'dashboard' %}">Back to dashboard</a>
        </div>
    {% endif %}
{% endblock %}