{% extends 'base.html' %}

{% block content %}
<div class="login-register">
    <form method="post">
        {% csrf_token %}
        <div class="form-group">
            <input type="password" class="form-control" placeholder="Old password" name="old_password" autofocus required>
        </div>
        <div class="form-group">
            <input type="password" class="form-control" placeholder="New password" name="new_password1" required>
        </div>
        <div class="form-group">
            <input type="password" class="form-control" placeholder="Confirm new password" name="new_password2" required>
        </div>
        <input class="btn btn-primary" type="submit" value="Change password">
    </form>
    {% for field, errors in form.errors.items %}
        {% for error in errors %}
            <p class="form-errors">{{ error }}</p>
        {% endfor %}
    {% endfor %}
    <a href="{% url 'profile' %}">Back to account's settings</a>
</div>

{% endblock %}