.add_item {
    word-wrap: break-word;
}

.fa-white {
    color: white;
}

.fa-green {
    color: green;
}

.fa-red {
    color: red;
}

.fa-blue {
    color: blue;
}

.fa-black {
    color: black;
}

.fa-trash-alt:hover {
    cursor: pointer;
}

.disabled:hover {
    cursor:not-allowed;
 }

.disabled {
    color: red;
 }

.new_nav {
    margin-bottom: 20px;
    background-color: #1e88e5;
}

.new_nav ul {
    list-style: none;
}

.new_nav ul li {
    float: left;
    margin: 0 10px;
}

.new_nav a {
    display: block;
    text-decoration: none;
    font-size: 18px;
    color: white;
    padding: 10px 20px;
    box-sizing: border-box;
    border: 2px solid transparent;
    line-height: 30px;
}
.new_nav div.logo a {
    font-size: 24px;
    line-height: 30px;
    margin-left: 10px;
}
.new_nav ul li a:hover {
    border-bottom: 2px solid white;
    border-top: 2px solid white;
    /*background-color: #2e99e5;*/
}

.new_nav ul li:nth-child(4) {
    float: right;
}

.new_nav ul li:nth-child(5) {
    float: right;
}

.clearfix::after {
    content: "";
    display: block;
    clear: both;
}

.logo {
    float: left; font-weight: bold;
}
.dropdown {
  float: right;
  position: relative;
  box-sizing: border-box;
  margin-right: 20px;
  width: 200px;
  text-align: center;
}

.dropbtn {
  color: white;
  border: none;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #1e88e5 ;
  width: 200px;
  z-index: 1;
}

.dropdown-content a {
  color: white;
  text-decoration: none;
  display: block;
  font-size: 16px;
}

.dropdown-content a:hover {background-color: #90caf9;}

.dropdown:hover .dropdown-content {display: block;}

.dropdown:hover .dropbtn {background-color: #1976d2;}

 body {
    overflow-y: scroll;
 }

 div.actions{
    float:right;
    margin-top: 5px;
 }

 .card-body p {
    text-align: justify;
    margin-bottom: 0;
 }

div.vote {
    float: right;
    font-size: 16px;
}

div.vote a {
    margin-right: 5px;
}

header.bg {
    position: relative;
    height: 100vh;
    background-image: url(../img/mountains3.png);
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-size: cover;
}

header.bg h1 {
    position: absolute;
    top: 20%;
    left: 20%;
    font-size: 40px;
    color: black;
    width: 60%;
    text-align: center;
    letter-spacing: 1px;
    font-family: 'Roboto Mono', monospace;
}

header.bg h2 {
    position: absolute;
    top: 45%;
    right: 30%;
    color: black;
    font-size: 32px;
    font-family: 'Roboto Mono', monospace;
}

header.bg a.login {
    position: absolute;
    padding: 10px 120px;
    border: 2px solid white;
    font-size: 22px;
    color: white;
    font-family: 'Lato', sans-serif;
    text-transform: uppercase;
    text-decoration: none;
}

header.bg a.login:hover {
    background-color: rgba(0, 75, 150, 0.5);
}

header.bg a.login {
    bottom: 20%;
    left: 40%;
}

header.bg nav {
    position: absolute;
    top: 20px;
    right: 0;
    background-color: rgba(0,100,255, 0.5);
    width: 100%;
}

header.bg nav ul {
    list-style: none;
}

header.bg nav ul li {
    float: left;
    transition: 0.2s;
}

header.bg nav ul li.nav_right {
    float: right;
}

header.bg nav ul li a {
    display: block;
    padding: 10px 40px;
    color: white;
    text-decoration: none;
    font-size: 24px;
}

header.bg nav ul li:hover {
    background-color: rgba(255, 255, 255, 0.3);
    cursor: pointer;
}
