 body {
    overflow-y: scroll;
 }

.add_item {
    word-wrap: break-word;
}

.fa-white {
    color: white;
}

.fa-green {
    color: green;
}

.fa-red {
    color: red;
}

.fa-blue {
    color: blue;
}

.fa-black {
    color: black;
}

.fa-trash-alt:hover {
    cursor: pointer;
}

.fa-eraser:hover {
    cursor: pointer;
    opacity: 0.5;
}

span > .fa-thumbs-up:hover {
    cursor: pointer;
    opacity: 0.5;
}

.disabled:hover {
    cursor:not-allowed;
 }

.disabled {
    color: red;
 }

.clearfix::after {
    content: "";
    display: block;
    clear: both;
}

header.retro_header {
    background-color: #1e88e5;
    margin-bottom: 20px;
    width: 100%;
}

.new_nav {
    padding: 5px;
    padding-left: 18%;
    width: 65%;
    float: left;
}

.new_nav ul {
    list-style: none;
}

.new_nav ul li {
    float: left;
    margin: 0 10px;
}

.new_nav a {
    display: block;
    text-decoration: none;
    font-size: 16px;
    color: white;
    padding: 5px 20px;
    line-height: 24px;
}

.new_nav li:hover {
    background-color: #7aafff;
}

.new_nav ul li:nth-child(4) {
    float: right;
}

.new_nav ul li:nth-child(5) {
    float: right;
}

div.logo {
    width: 10%;
    font-weight: bold;
    float: left;
    margin: 10px 0;
    padding-left: 2%;
}

div.logo a {
    text-decoration: none;
    font-size: 20px;
    line-height: 24px;
    color: white;
}

.dropdown {
    position: relative;
    float: right;
    padding: 10px 0;
    margin-right: 30px;
}

.login {
    display: block;
    text-align: center;
    color: white;
    font-size: 16px;
    line-height: 24px;
    text-decoration: none;
}

.dropdown:hover a.login {
    text-decoration: none;
    color: white;
}

.dropdown:hover .dropdown-content {
    display: block;
}

.dropdown-content {
    display: none;
    position: absolute;
    padding: 5px;
    background-color: #247bff;
    top: 44px;      /* line-height(24px) + margin-top(10px) + margin-bottom(10px) */
    right: -30px;   /* margin-right for .dropdown(30px) */
    width: 180px;
    z-index: 1;
}

.dropdown-content a {
    color: white;
    text-decoration: none;
    display: block;
    font-size: 16px;
    line-height: 24px;
    padding: 5px;
}

.dropdown-content a:hover {
    background-color: #7aafff;
}

header.bg {
    position: relative;
}

header.bg div.my_retro {
    position: absolute;
    width: 50%;
    top: 10%;
    left: 5%;
}

header.bg div.agile_picture {
    position: absolute;
    width: 50%;
    height: 80vh;
    top: 10%;
    right: 2%;
}

header.bg div.agile_picture img {
    max-width: 100%;
}

header.bg h1 {
    margin-top: 30px;
    margin-bottom: 20px;
    margin-left: 10%;
    margin-right: 10%;
    font-size: 60px;
    color: black;
    letter-spacing: 1px;
    font-family: 'Raleway', sans-serif;
    font-weight: bold;
    line-height: 170%;
}

header.bg h2 {
    margin-left: 10%;
    margin-right: 10%;
    color: black;
    font-size: 28px;
    font-family: 'Roboto Mono', monospace, sans-serif;
    line-height: 170%;
}

header.bg a.signup {
    display: block;
    width: 40%;
    margin-left: 10%;
    margin-right: 10%;
    margin-top: 50px;
    background-color: rgb(0,100,255);
    padding: 10px 60px;
    border: 2px solid white;
    font-size: 24px;
    color: white;
    font-family: 'Lato', sans-serif;
    text-align: center;
    text-transform: uppercase;
    letter-spacing: 1px;
    text-decoration: none;
}

header.bg a.signup:hover {
    background-color: rgb(0,50,255, 0.9);
}

header.bg nav {
    position: absolute;
    top: 20px;
    right: 0;
    background-color: rgba(0,100,255, 0.5);
    width: 100%;
    height: 48px;
}

header.bg nav>ul {
    list-style: none;
}

header.bg nav>ul>li {
    float: left;
    transition: 0.2s;
}

header.bg nav>ul li.nav_right {
    float: right;
}

header.bg nav>ul li a {
    display: block;
    padding: 10px 40px;
    color: white;
    text-decoration: none;
    font-size: 24px;
}

header.bg nav>ul li:hover {
    background-color: rgba(255, 255, 255, 0.3);
    cursor: pointer;
}

header.bg nav>ul li.nav_right:hover ul {
    display: block;
}

header.bg nav>ul li.nav_right:hover ul li a {
    font-size: 22px;
}

 div.actions{
    float:right;
    margin-top: 5px;
 }

 .card-body p {
    text-align: justify;
    margin-bottom: 0;
 }

div.vote {
    float: right;
    font-size: 0;
}

div.vote  p, span {
    font-size: 16px;
    margin-left: 4px;
}

div.vote i {
    font-size: 16px;
}

.bold {
    font-weight: 700;
}

i {
    margin-right: 2px;
}

p.add-board {
    text-align: center;
}

p.main-header {
    margin-left: 2.5%;
    font-size: 26px;
}

div.my-card-footer {
    padding: 10px 8px;
    border-top: 2px solid white;
}

div.my-card-footer a {
    float: left;
    box-sizing: border-box;
    padding: 4px 8px;
    font-size: 14px;
    color: white;
    border-radius: 2px;
    text-decoration: none;
}

div.my-card-footer a:hover {
    text-decoration: none;
    background-color: #0e6ec2;
}

.my-add-board-card {
    float: left;
    width: 20%;
    margin: 10px;
    margin-left: 2.5%;
    margin-right: 2.5%;
    border: black solid 1px;
    border-radius: 10px;
}

.my-add-board-card a {
    display: block;
    margin: 0 auto;
    padding: 10px;
    text-align: center;
    text-decoration: none;
}

.my-card {
    background-color: #0d5fa6;
    color: white;
    border: transparent solid 1px;
    transition: 0.2s;
    float: left;
    width: 20%;
    margin: 10px;
    margin-left: 2.5%;
    margin-right: 2.5%;
    border-radius: 10px;
}

.my-card p, p.add-board {
    margin: 0;
}

div.my-card > a {
    display: block;
    color: white;
    text-decoration: none;
}

.my-retro-name {
    font-size: 20px;
}

.my-retro-name a {
    color: white;
    text-decoration: none;
}

p.my-retro-date {
    text-align: left;
    font-size: 12px;
}

div.my-card:hover {
    box-shadow: 0 0 4px black;
}

div.my-card-header {
    padding: 12px 16px;
    border-bottom: 2px solid white;
}

div.my-card-header h4 {
    font-weight: bold;
}

.my-card-properties div {
    float: left;
    width: 50%;
    padding: 6px;
}

.my-card-properties div p {
    text-align: center;
    font-size: 14px;
}
