<div class="row m-0">
    <div class="card-body col-card-content ps-3 pe-1">
        <p class="pre-line" data-id="{{ card.id }}">{{ card.body }}</p>
    </div>
    <div class="col-settings text-center p-1">
        <i class="fas fa-ellipsis-v" data-bs-toggle="dropdown" aria-expanded="false"></i>
        <ul class="dropdown-menu py-1">
            <li><a draggable="false" class="dropdown-item" href="#"><i class="far fa-object-ungroup"></i> Unmerge card</a></li>
            <li><a draggable="false" class="dropdown-item" href="#"><i class="far fa-file-alt"></i> Copy card text</a></li>
        </ul>
    </div>
</div>
<div class="row m-0 px-1 pb-2">
    <div class="actions text-end px-1 mt-1">
        {% if user.is_authenticated and card.author.id == user.id and not retro.voting and not retro.archived %}
            <i class="fas fa-edit fa-white" data-toggle="tooltip" title="Edit card"></i>
            <i class="fas fa-trash-alt fa-white" data-id="{{ card.id }}" data-toggle="tooltip" data-placement="bottom" title="Delete card"></i>
        {% endif %}
    </div>
    {% if retro.voting and user.is_authenticated %}
        <div class="vote text-end px-1 mt-1" data-id="{{ card.id }}">
            {% if user in card.votes.all %}<i class="fas fa-eraser fa-white" data-id="{{ card.id }}"></i>{% endif %}
            <span {% if user in card.votes.all or limit == True %} style="cursor: not-allowed; opacity: 0.5;" {% endif %}><i class="far fa-thumbs-up fa-white fa-1x" data-id="{{ card.id }}" {% if user in card.votes.all or limit == True %} style="pointer-events: none;" {% endif %}></i></span><p class="bold" style="float: right;">{{ card.get_votes }}</p>
        </div>
    {% endif %}
</div>