{% extends 'base.html' %}
{% load static %}
{% block content %}

    <div class="jumbotron agile">
      <h1 class="display-4">Welcome on Retro Tool page!</h1>
        <p class="lead">Try this tool to improve your retros. {% if not user.is_authenticated %} Don't waste your time and <a href="{% url 'register' %}">Sign up</a> for free! {% endif %} </p>
        {% if not user.is_authenticated %}
            <p class="lead">Are you already registered? <a href="{% url 'login' %}">Login</a> here!</p>
        {% endif %}
      <hr class="my-4">
      <p>Retro Tool provides:</p>
        <ul class="features">
            <li>3 columns: Went Well, To Improve, Action Points</li>
            <li>Space for retro archiving</li>
            <li>Voting system</li>
        </ul>
    </div>

{% endblock %}