{% extends 'base.html' %}
{% load static %}

{% block content %}
{% endblock %}

{% block dashboard %}
    <header class="bg clearfix">
        <div class="my_retro">
            <h1>My Retro</h1>
            <h2>The best way to improving your team retrospective</h2>
            <h2>Simple. Effective. Nice</h2>
            <a href="{% url 'register' %}" class="signup">Sign up</a>
        </div>
        <div class="agile_picture">
            <img src="static/img/image1.png" alt="Agile picture">
        </div>
    </header>
{% endblock %}
