{% extends 'base.html' %}

{% block content %}
    {% if card %}
        <form class="form-inline my-2 my-lg-0" method="post">
            {% csrf_token %}
            <textarea class="form-control" rows=5 name="body" required oninput="this.style.height = ''; this.style.height = this.scrollHeight + 'px'" autofocus onfocus="this.setSelectionRange(this.value.length,this.value.length);">{{ card.body }}</textarea>
            <input class="form-control mr-sm-2 add_card" type="hidden" placeholder="Add Card" aria-label="Search" size="100" name="category" value="{{ card.category }}">
            <button class="btn btn-outline-secondary my-2 my-sm-0" type="submit">Edit Card</button>
        </form>
        <a href="{% url 'home' card.retro.id %}">Back to Retro board</a>
    {% endif %}
{% endblock %}