{% extends 'base.html' %}
{% load static %}

    {% block settings %}
        {% if retro.author.id == user.id %}
            <a class=".dropdown-content" href="{% url 'settings' retro_id %}"><i class="fas fa-sliders-h"></i> Board settings</a>
        {% endif %}
    {% endblock %}

{% block content %}

<!-- Modal okno nr 1-->
<div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Adding item</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
      <form class="form-inline my-2 my-lg-0" id="form1" method="post" onkeydown="return event.key != 'Enter';" data-url="{{ request.build_absolute_uri|safe }}">
            {% csrf_token %}
          <input class="form-control mr-sm-2" type="text" placeholder="" aria-label="Search", size="30" name="item">
          <input class="form-control mr-sm-2 add_item" type="hidden" placeholder="" aria-label="Search", size="30" name="category" value="1">
          <input class="form-control mr-sm-2 add_item" type="hidden" placeholder="" aria-label="Search", size="30" name="retro" value="{{retro_id}}">
          <input class="form-control mr-sm-2 add_item" type="hidden" placeholder="" aria-label="Search", size="30" name="author" value="{{user.id}}">
          <button class="btn btn-outline-secondary my-2 my-sm-0" type="button" name="list1" id="createButton1">Add Item</button>
      </form>
      </div>
      <div class="modal-footer">
              <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>

<!-- Modal okno nr 2-->
<div class="modal fade" id="exampleModal2" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel2" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel2">Adding item</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
      <form class="form-inline my-2 my-lg-0" id="form2" method="post" onkeydown="return event.key != 'Enter';">
            {% csrf_token %}
          <input class="form-control mr-sm-2 add_item" type="text" placeholder="" aria-label="Search", size="30" name="item">
          <input class="form-control mr-sm-2 add_item" type="hidden" placeholder="" aria-label="Search", size="30" name="category" value="2">
          <input class="form-control mr-sm-2 add_item" type="hidden" placeholder="" aria-label="Search", size="30" name="retro" value="{{retro_id}}">
          <input class="form-control mr-sm-2 add_item" type="hidden" placeholder="" aria-label="Search", size="30" name="author" value="{{user.id}}">
          <button class="btn btn-outline-secondary my-2 my-sm-0" type="button" name="list2" id="createButton2">Add Item</button>
      </form>
      </div>
      <div class="modal-footer">
              <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>

<!-- Ten zapis powoduje, ze enterem nie mozna zaakceptowac formularza:
onkeydown="return event.key != 'Enter';"
minus jest taki, ze entera nie mozna tez uzyc w textarea
poprawic w przyszlosci !!!-->

<!-- Modal okno nr 3-->
<div class="modal fade" id="exampleModal3" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel3" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel3">Adding item</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
      <form class="form3 form-inline my-2 my-lg-0" id="form3" method="post" onkeydown="return event.key != 'Enter';">
            {% csrf_token %}
          <input class="form-control mr-sm-2 add_item" type="text" placeholder="" aria-label="Search", size="30" name="item" id="itemBlue">
          <input class="form-control mr-sm-2 add_item" type="hidden" placeholder="" aria-label="Search", size="30" name="category" value="3">
          <input class="form-control mr-sm-2 add_item" type="hidden" placeholder="" aria-label="Search", size="30" name="retro" value="{{retro_id}}">
          <input class="form-control mr-sm-2 add_item" type="hidden" placeholder="" aria-label="Search", size="30" name="author" value="{{user.id}}">
          <button class="btn btn-outline-secondary my-2 my-sm-0" type="button" name="list3" id="createButton3">Add Item</button>
      </form>
      </div>
      <div class="modal-footer">
              <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>

      <div class="row">
          <div class="col-sm-4">
              <h3><i class="fas fa-square fa-green"></i> Went Well</h3>
              <div class="card">
                  <div>
                      <p class="card-text">
                          <a data-target="#exampleModal" data-toggle="modal" class="MainNavText" id="Modal1"
                            href="#exampleModal" {% if user.is_authenticated == False or retro.voting or retro.archived %} style="pointer-events: none;" {% endif %}><center><i class="fas fa-plus-square fa-black fa-2x"></i></center></a>
                      </p>
                  </div>
              </div> </br>
              <div id="greenList">
                  {% for list, votes in cards %}
                  {% if list.category == 1 %}
                    <div class="card text-white bg-success mb-3" id="greenCard" data-id="{{ list.id }}">
                        <div class="card-body">
                            <p>{{ list.item }}</p>
                            <div class="actions">
                                {% if user.is_authenticated and list.author.id == user.id and not retro.voting and not retro.archived %}
                                    <a href="{% url 'edit' list.id %}"><i class="fas fa-edit fa-white"></i></a>
                                    <i class="fas fa-trash-alt fa-white" data-id="{{ list.id }}" data-toggle="tooltip" data-placement="bottom" title="Delete item"></i>
                                {% else %}
                                    <a href="{% url 'edit' list.id %}" style="display: none;"><i class="fas fa-edit fa-white"></i></a>
                                    <i class="fas fa-trash-alt fa-white" data-id="{{ list.id }}" data-toggle="tooltip" data-placement="bottom" title="Delete item" style="display: none;"></i>
                                {% endif %}
                            </div>
                            {% if retro.voting and user.is_authenticated %}
                                <div class="vote">
                                        {% if user in list.votes.all %}<a class="unvote" href="{% url 'card_vote_down' list.id %}" name="card_id" value="{{ list.id }}"><i class="fas fa-eraser fa-white"></i></a>{% endif %}
                                        <a href="{% url 'card_vote' list.id %}" name="card_id" value="{{ list.id }}" {% if user in list.votes.all or limit == True %} style="pointer-events: none;" {% endif %}><i class="far fa-thumbs-up fa-white"></i></a><p style="float: right;">{{ votes }}</p>
                                </div>
                            {% endif %}
                        </div>
                    </div>
                  {% endif %}
                  {% endfor %}
              </div>
          </div>

          <div class="col-sm-4">
              <h3><i class="fas fa-square fa-red"></i> To Improve</h3>
              <div class="card">
                  <div>
                      <p class="card-text">
                          <a data-target="#exampleModal2" data-toggle="modal" class="MainNavText" id="Modal2"
                            href="#exampleModal" {% if user.is_authenticated == False or retro.voting or retro.archived %} style="pointer-events: none;" {% endif %}><center><i class="fas fa-plus-square fa-black fa-2x"></i></center></a>
                      </p>
                  </div>
              </div></br>
              <div id="redList">
                  {% for list, votes in cards %}
                  {% if list.category == 2 %}
                    <div class="card text-white bg-danger mb-3" id="redCard" data-id="{{ list.id }}">
                        <div class="card-body">
                            <p>{{ list.item }}</p>
                            <div class="actions">
                                {% if user.is_authenticated and list.author.id == user.id and not retro.voting and not retro.archived %}
                                    <a href="{% url 'edit' list.id %}"><i class="fas fa-edit fa-white"></i></a>
                                    <i class="fas fa-trash-alt fa-white" data-id="{{ list.id }}" data-toggle="tooltip" data-placement="bottom" title="Delete item"></i>
                                {% else %}
                                    <a href="{% url 'edit' list.id %}" style="display: none;"><i class="fas fa-edit fa-white"></i></a>
                                    <i class="fas fa-trash-alt fa-white" data-id="{{ list.id }}" data-toggle="tooltip" data-placement="bottom" title="Delete item" style="display: none;"></i>
                                {% endif %}
                            </div>
                            {% if retro.voting and user.is_authenticated %}
                                <div class="vote">
                                        {% if user in list.votes.all %}<a class="unvote" href="{% url 'card_vote_down' list.id %}" name="card_id" value="{{ list.id }}"><i class="fas fa-eraser fa-white"></i></a>{% endif %}
                                        <a href="{% url 'card_vote' list.id %}" name="card_id" value="{{ list.id }}" {% if user in list.votes.all or limit == True %} style="pointer-events: none;" {% endif %}><i class="far fa-thumbs-up fa-white"></i></a><p style="float: right;">{{ votes }}</p>
                                </div>
                            {% endif %}
                        </div>
                    </div>
                  {% endif %}
                  {% endfor %}
              </div>
          </div>

          <div class="col-sm-4">
              <h3><i class="fas fa-square fa-blue"></i> Action Points</h3>
              <div class="card">
                  <div>
                      <p class="card-text">
                          <a data-target="#exampleModal3" data-toggle="modal" class="MainNavText" id="Modal3"
                            href="#exampleModal" {% if user.is_authenticated == False or retro.voting or retro.archived %} style="pointer-events: none;" {% endif %}><center><i class="fas fa-plus-square fa-black fa-2x"></i></center></a>
                      </p>
                  </div>
              </div></br>
              <div id="blueList">
                  {% for list, votes in cards %}
                  {% if list.category == 3 %}
                    <div class="card text-white bg-primary mb-3" id="blueCard" data-id="{{ list.id }}">
                        <div class="card-body">
                            <p>{{ list.item }}</p>
                            <div class="actions">
                                {% if user.is_authenticated and list.author.id == user.id and not retro.voting and not retro.archived %}
                                    <a href="{% url 'edit' list.id %}"><i class="fas fa-edit fa-white"></i></a>
                                    <i class="fas fa-trash-alt fa-white" data-id="{{ list.id }}" data-toggle="tooltip" data-placement="bottom" title="Delete item"></i>
                                {% else %}
                                    <a href="{% url 'edit' list.id %}" style="display: none;"><i class="fas fa-edit fa-white"></i></a>
                                    <i class="fas fa-trash-alt fa-white" data-id="{{ list.id }}" data-toggle="tooltip" data-placement="bottom" title="Delete item" style="display: none;"></i>
                                {% endif %}
                            </div>
                            {% if retro.voting and user.is_authenticated %}
                                <div class="vote">
                                        {% if user in list.votes.all %}<a class="unvote" href="{% url 'card_vote_down' list.id %}" name="card_id" value="{{ list.id }}"><i class="fas fa-eraser fa-white"></i></a>{% endif %}
                                        <a href="{% url 'card_vote' list.id %}" name="card_id" value="{{ list.id }}" {% if user in list.votes.all or limit == True %} style="pointer-events: none;" {% endif %}><i class="far fa-thumbs-up fa-white"></i></a><p style="float: right;">{{ votes }}</p>
                                </div>
                            {% endif %}
                        </div>
                    </div>
                  {% endif %}
                  {% endfor %}
              </div>
          </div>
        </div>
{% endblock %}

{% block javascript %}
    <script type="text/javascript" src="{% static 'js/cards_handling.js' %}"></script>
{% endblock %}