{% extends 'base.html' %}
{% load static %}

{% block navbar %}
        <div id="rinfo" class="retro-info">
            {% if retro.author.id == user.id %}
                <div><span class="retro-name" >{{ retro.name }}</span><i class="fas fa-edit retro-name"></i></div>
            {% else %}
                <div><span class="retro-name-not-author" >{{ retro.name }}</span></div>
            {% endif %}
            <input type="text" class="input-retro-name hidden" value="{{ retro.name }}" onfocus="this.setSelectionRange(this.value.length,this.value.length);">
            <button class="reject hidden"><i class="fas fa-times"></i></button> <button class="accept hidden" data-retro-id="{{ retro.id }}"><i class="fas fa-check"></i></button>
        </div>
{% endblock %}

{% block settings %}
    {% if retro.author.id == user.id %}
        <a class=".dropdown-content" href="{% url 'clear_board' retro.id %}"><i class="fas fa-minus-square"></i> Clear board</a>
    {% endif %}
    {% if retro.voting %}
        <a class=".dropdown-content" href="{% url 'reset_user_votes' retro.id %}"><i class="fas fa-eraser"></i> Reset my votes</a>
    {% endif %}
{% endblock %}

{% block content %}
    <div class="toolbar clearfix">
        <div class="btn-settings">
            <a href="{% url 'settings' retro.id %}"><i class="fas fa-cog"></i>Settings</a>
        </div>
        <div class="search-bar">
            <form method="GET" action="{% url 'home' retro.id %}">
                <input type="text" name="q" placeholder="Search...">
            </form>
        </div>
        <div class="btn-group sort-cards">
            <button class="btn btn-secondary btn-sm dropdown-toggle shadow-none" data-bs-toggle="dropdown" aria-expanded="false">Sort cards</button>
            <ul class="dropdown-menu">
                <li><a class="dropdown-item" href="{% url 'home' retro.id %}?order=votes">Sort by votes</a></li>
                <li><a class="dropdown-item" href="{% url 'home' retro.id %}?order=date"> Sort by date</a></li>
            </ul>
        </div>
        <div class="btn-group add-timer-group">
            <button class="btn btn-primary btn-sm dropdown-toggle shadow-none" type="button" data-bs-toggle="dropdown" aria-expanded="false">Add</button>
            <ul class="dropdown-menu">
                <li><a class="dropdown-item" href="#"><i class="fas fa-clock"></i> Timer</a></li>
            </ul>
        </div>
        <div class="timer">
            <span class="timer-span hidden"></span>
        </div>
    </div>

    {% csrf_token %}

    <div id="main-div" class="row">
          <div class="col-sm-4">
              <h5><i class="fas fa-square fa-green"></i> Went Well</h5>
              <div class="card">
                  <div>
                      <p class="card-text">
                          <a class="add-temp-card MainNavText" data-category="1" {% if user.is_authenticated == False or retro.voting or retro.archived %} style="pointer-events: none;" {% endif %}><i class="fas fa-plus-square fa-black fa-2x"></i></a>
                      </p>
                  </div>
              </div>
              <div id="greenList">
                  {% for card in green_cards %}
                    <div class="card text-white bg-success mb-3" data-id="{{ card.id }}" data-dropped="false" draggable="true">
                        {% include 'card_content.html' %}
                    </div>
                  {% endfor %}
              </div>
          </div>

          <div class="col-sm-4">
              <h5><i class="fas fa-square fa-red"></i> To Improve</h5>
              <div class="card">
                  <div>
                      <p class="card-text">
                          <a class="add-temp-card MainNavText" data-category="2" {% if user.is_authenticated == False or retro.voting or retro.archived %} style="pointer-events: none;" {% endif %}><i class="fas fa-plus-square fa-black fa-2x"></i></a>
                      </p>
                  </div>
              </div>
              <div id="redList">
                  {% for card in red_cards %}
                    <div class="card text-white bg-danger mb-3" data-id="{{ card.id }}" data-dropped="false" draggable="true">
                        {% include 'card_content.html' %}
                    </div>
                  {% endfor %}
              </div>
          </div>

          <div class="col-sm-4">
              <h5><i class="fas fa-square fa-blue"></i> Action Points</h5>
              <div class="card">
                  <div>
                      <p class="card-text">
                          <a class="add-temp-card MainNavText" data-category="3" {% if user.is_authenticated == False or retro.voting or retro.archived %} style="pointer-events: none;" {% endif %}><i class="fas fa-plus-square fa-black fa-2x"></i></a>
                      </p>
                  </div>
              </div>
              <div id="blueList">
                  {% for card in blue_cards %}
                    <div class="card text-white bg-primary mb-3" data-id="{{ card.id }}" data-dropped="false" draggable="true">
                        {% include 'card_content.html' %}
                    </div>
                  {% endfor %}
              </div>
          </div>
    </div>

<dialog id="modal-delete">
    <div class="modal-delete-content">
        <div class="modal-delete-icon">
            <i class="fas fa-exclamation-circle"></i>
        </div>
        <h5 id="info">Are you sure you want to delete?</h5>
        <div class="modal-buttons">
            <button class="btn btn-primary" data-id="">Yes, delete it</button>
            <button class="btn btn-secondary">No, keep it</button>
        </div>
    </div>
</dialog>

<dialog id="modal-merge">
    <div class="modal-delete-content">
        <div class="modal-delete-icon">
            <i class="fas fa-exclamation-circle"></i>
        </div>
        <h5 id="info">Merge the cards?</h5>
        <div class="modal-buttons">
            <button class="btn btn-primary" data-dragged-id="" data-dest-id="">Merge</button>
            <button class="btn btn-secondary" data-dragged-id="">Cancel</button>
        </div>
    </div>
</dialog>

<dialog id="modal-set-timer">
    <div class="modal-set-timer-content">
        <h5 id="info">Set timer [1-10] mins</h5>
        <input id="timer-input" type="number" min="1" max="10" value="2">
        <div class="modal-buttons">
            <button class="btn btn-primary timer-set" data-id="">Start timer</button>
            <button class="btn btn-secondary timer-cancel">Cancel</button>
        </div>
    </div>
</dialog>
{% endblock %}

{% block javascript %}
    <script type="text/javascript" src="{% static 'js/cards_handling.js' %}"></script>
    <script type="text/javascript" src="{% static 'js/votes_handling.js' %}"></script>
    <script type="text/javascript" src="{% static 'js/board_renaming.js' %}"></script>
    <script type="text/javascript" src="{% static 'js/timer_handler.js' %}"></script>
{% endblock %}