{% extends 'base.html' %}

{% block content %}
<!-- Modal window for retro form-->
<div class="modal fade" id="retroModal" tabindex="-1" role="dialog" aria-labelledby="retroModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="retroModalLabel">Creating new Retro board</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
      <form class="form-group" method="post">
            {% csrf_token %}
          <label for="name">Name</label>
          <input class="form-control mr-sm-2 add_item" type="search" placeholder="" aria-label="Search", size="30" id="name" name="name"> </br>
          <label for="leader">Leader</label> <small>(The person who will lead the retro)</small>
          <input class="form-control mr-sm-2 add_item" type="search" placeholder="" aria-label="Search", size="30" id="leader" name="leader"></br>
          <input class="form-control mr-sm-2 add_item" type="hidden" placeholder="" aria-label="Search", size="30" name="author" value="{{ user.id }}">
          <button class="btn btn-outline-secondary my-2 my-sm-0" type="submit" name="retro">Create Retro</button>
      </form>
      </div>
      <div class="modal-footer">
              <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>
    <p class="main-header">{{ number_of_retros }} Board(s)</p>
    {% if all_retros %}
        {% for retro, amountOfCards, board_users in all_retros %}
            <div class="my-card">
                <div class="my-card-header">
                    <p class="my-retro-name"><a href="{% url 'home' retro.id %}">{{ retro.name }}</a></p>
                    <p class="my-retro-date"><i class="far fa-clock"></i> {{ retro.date|date:"d-F-Y" }}</p>
                </div>
                <div class="my-card-properties clearfix">
                    <div>
                        <p>Cards</p>
                        <p>{{ amountOfCards }}</p>
                    </div>
                    <div>
                        <p>Users</p>
                        <p>{{ board_users }}</p>
                    </div>
                </div>
                <div class="my-card-footer clearfix">
                    <p class="my-card-icons">
                        <a href="{% url 'settings' retro.id %}" ><i class="fas fa-cog fa-white"></i></a>
                        <a href="{% url 'remove_retro' retro.id %}" ><i class="fas fa-trash-alt fa-white"></i></a>
                    </p>
                </div>
            </div>
        {% endfor %}
    {% endif %}
            <div class="my-add-board-card">
                    <a data-target="#retroModal" data-toggle="modal" class="MainNavText" id="Modal"
                       href="#retroModal"><center><i class="fas fa-plus-circle fa-2x"></i></center></a>
                      <p class="add-board">Add board</p>
            </div>
{% endblock %}