{% extends 'base.html' %}

{% block content %}

<!-- Modal window for retro form-->
<div class="modal fade" id="retroModal" tabindex="-1" role="dialog" aria-labelledby="retroModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="retroModalLabel">Creating new Retro board</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
      <form class="form-group" method="post">
            {% csrf_token %}
          <label for="name">Name</label>
          <input class="form-control mr-sm-2 add_item" type="search" placeholder="" aria-label="Search", size="30" id="name" name="name"> </br>
          <label for="leader">Leader</label>
          <input class="form-control mr-sm-2 add_item" type="search" placeholder="" aria-label="Search", size="30" id="leader" name="leader"></br>
<!--          <input class="form-control mr-sm-2 add_item" type="hidden" placeholder="" aria-label="Search", size="30" name="completed" value="3">-->
          <input class="form-control mr-sm-2 add_item" type="hidden" placeholder="" aria-label="Search", size="30" name="author" value="{{user.id}}">
          <button class="btn btn-outline-secondary my-2 my-sm-0" type="submit" name="retro">Create Retro</button>
      </form>
      </div>
      <div class="modal-footer">
              <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
<!--              <button type="submit" class="btn btn-primary">Save changes</button>-->


      </div>
    </div>
  </div>
</div>
    {% if all_items %}
        {% for retro, amountOfCards in all_items %}
                <div class="card text-white bg-primary mb-3" style="width: 20rem; float: left; margin: 10px;">
                    <div class="card-header">
                        <a href="{% url 'home' retro.id %}" style="color: black; float: left;">{{ retro.name }} ({{amountOfCards}} cards)</a>
                        <a href="{% url 'remove_retro' retro.id %}" ><i class="fas fa-trash-alt fa-white" style="float: right;"></i></a>
                    </div>
                    <div class="card-body">
                        {{ retro.leader }}</br>
                    </div>
                </div>
        {% endfor %}
    {% endif %}
                <div class="card " style="float: left; margin: 10px; width: 20rem;">
                  <div>
                      <p class="card-text">
                        <a data-target="#retroModal" data-toggle="modal" class="MainNavText" id="Modal"
                           href="#retroModal"><center><i class="fas fa-plus-circle fa-2x"></i></center></a>
                          <center><p>Add board</p></center>
                      </p>
                  </div>
                </div>
{% endblock %}