{% extends 'base.html' %}

{% block content %}

{% if user.id == retro.author.id %}
    <h3>Settings</h3>
    <p style="color: red;">This section will be updated later!</p>
    <li>Voting</li> <small>If enabled, users can vote.</small>

    <form action="{% url 'settings' retro.id %}" method="POST">
        {% csrf_token %}
        <div>
            <input type="radio" id="voting_disable"
             name="voting" value="False" {% if not retro.voting %} checked {% endif %}>
            <label for="voting_disable">Disabled</label>

            <input type="radio" id="voting_enable"
             name="voting" value="True" {% if retro.voting %} checked {% endif %}>
            <label for="voting_enable">Enabled</label>
        </div>

    <li>How many votes [1-5]</li> <small>Determines how many times user can vote.</small><br/>
        <input type="number" name="num_of_votes" value="{{ retro.votes }}" min="1" max="5"/>

    <li>Archived</li> <small>If No, users can't add, edit and delete cards. Voting is also prohibited!</small>
        <div>
            <input type="radio" id="not_archived"
             name="archived" value="False" {% if not retro.archived %} checked {% endif %}>
            <label for="not_archived">No</label>

            <input type="radio" id="archived"
             name="archived" value="True" {% if retro.archived %} checked {% endif %}>
            <label for="archived">Yes</label>
        </div>
        <li>Set timer (This function will implemented in the future!)</li> <small>Time for completing retro board.</small> <br/>
        <button type="submit" class="btn btn-primary btn-sm">Save</button>
    </form>
    <br/>
    Retro id: {{ retro.id }} <br/>
    Board author: {{ retro.author }} <br/>
    Voting: {{ retro.voting }} <br/>
    Number of votes: {{ retro.votes }} <br/>
    <a href="{% url 'home' retro.id %}">Back to current retro board</a> <br/>
    <a href="{% url 'archived' %}">Go to Archives</a>
{% else %}
    You shouldn't be here! Get out!
{% endif %}

{% endblock %}
