{% extends 'base.html' %}

{% block content %}

    <h3>Settings</h3>
    <p>This section will be updated later!</p>
    <li>Enable voting</li> voting [False/True]

    <form action="{% url 'voting' retro_id %}" method="POST">
        {% csrf_token %}
        <div>
            <input type="radio" id="voting_disable"
             name="voting" value="False" {% if not voting %} checked {% endif %}>
            <label for="voting_disable">Disable</label>

            <input type="radio" id="voting_enable"
             name="voting" value="True" {% if voting %} checked {% endif %}>
            <label for="voting_enable">Enable</label>
        </div>
        <button type="submit" class="btn btn-primary btn-sm">Save</button>
    </form>



    <li>How many votes</li> range [1-10]
    <li>Enable editing</li> isEditable [False/True]
    <li>Set timer</li> range [0-5min]

<br/>
<br/>
    {{ retro_id }}
    {{ author }} <br/>
    {{ voting }}
    <a href="{% url 'main' %}">Back to my boards</a>

{% endblock %}