{% extends 'base.html' %}

{% block content %}

    <h3>Settings</h3>
    <p style="color: red;">This section will be updated later!</p>
    <li>Voting</li> <small>If enabled, users can vote.</small>

    <form action="{% url 'voting' retro_id %}" method="POST">
        {% csrf_token %}
        <div>
            <input type="radio" id="voting_disable"
             name="voting" value="False" {% if not voting %} checked {% endif %}>
            <label for="voting_disable">Disabled</label>

            <input type="radio" id="voting_enable"
             name="voting" value="True" {% if voting %} checked {% endif %}>
            <label for="voting_enable">Enabled</label>
        </div>

    <li>How many votes [1-5]</li> <small>Determines how many times user can vote.</small><br/>
        <input type="number" name="num_of_votes" value="{{ votes }}" min="1" max="5"/>
    <li>Editing - isActive [False/True]</li> <small>If enabled, users can still add, edit and delete cards.</small>
        <li>Set timer</li> <small>Time for completing retro board.</small> <br/>
        <button type="submit" class="btn btn-primary btn-sm">Save</button>
    </form>
<br/>
    Retro id: {{ retro_id }} <br/>
    Board author: {{ author }} <br/>
    Voting: {{ voting }} <br/>
    Number of votes: {{ votes }} <br/>
    <a href="{% url 'home' retro_id %}">Back to current retro board</a>

{% endblock %}